{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/oauth2/resources/style.css">
{% endblock %}

{% block content %}
    <h1>Oauth2 Client Registry</h1>
    <p>Here you can register a new OAuth2 client.</p>

    {{ form | raw }}
{% endblock %}



